struct monster_types {
	struct orc {
		struct fighter {
			float hp = 50
			float power = 4
			float defense = 4
		}
		char ch = 'o'
		color col = "#0000FF"
		string description = "An angry orc"
	}
	struct troll {
		struct fighter {
			float hp = 60
			float power = 4
			float defense = 4
		}
		char ch = 'T'
		color col = "#0000ee"
		string description = "Ugly big troll"
	}
	struct dragon {
		struct fighter {
			float hp = 100
			float power = 8
			float defense = 8
		}
		char ch = 'D'
		color col = "#FF0000"
		string description = "A large terrifying dragon"
	}
}
